@model PhanBaoAn.Context.brand

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">@ViewBag.Title Brand</h2>

    @using (Html.BeginForm("Edit", "brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Brand Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group row">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    <input type="file" name="ImageUpload" class="form-control-file" />
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.show, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    <div class="form-check">
                        @Html.EditorFor(model => model.show, new { htmlAttributes = new { @class = "form-check-input" } })
                        @Html.ValidationMessageFor(model => model.show, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <input type="submit" value="Save" class="btn btn-success" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary ml-2" })
                </div>
            </div>
        </div>
    }
</div>

<div class="mt-3">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
</div>
