@model IEnumerable<PhanBaoAn.Context.brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center ">Brand Manager</h2>

            <p class="text-right">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
            </p>

            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.name)</th>
                        <th>@Html.DisplayNameFor(model => model.image)</th>
                        <th>@Html.DisplayNameFor(model => model.show)</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.name)</td>
                            <td>
                                <img src="~/Content/images/items/@item.image" alt="@item.name" class="img-thumbnail" style="max-width: 100px;" />
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.show)</td>
                            <td class="text-center">
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning btn-sm" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info btn-sm" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
